In [1]:
#!/usr/bin/python

import sys
import pickle
import pandas
import numpy
sys.path.append("../tools/")

from feature_format import featureFormat, targetFeatureSplit
from tester import dump_classifier_and_data

/Users/bean/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
### Task 1: Select what features you'll use.
### features_list is a list of strings, each of which is a feature name.
### The first feature must be "poi".
# features_list is a list of my selected features
# finance_features has finance features
# email_features is a list of email features
features_list = ['poi', 'to_messages', 'from_messages', \
                'from_poi_to_this_person', 'from_this_person_to_poi', \
                'bonus', 'deferred_income']
finance_features = ['poi', 'salary', 'bonus', 'long_term_incentive', \
                 'deferred_income', 'expenses', 'total_payments', \
                 'exercised_stock_options', 'restricted_stock', 'other'] 
email_features = ['poi', 'to_messages', 'email_address', 
                 'from_poi_to_this_person', 'from_messages', \
                 'from_this_person_to_poi', 'shared_receipt_with_poi']
# You will need to use more features


### Load the dictionary containing the dataset
with open("final_project_dataset.pkl", "r") as data_file:
    data_dict = pickle.load(data_file)

df = pandas.DataFrame.from_records(list(data_dict.values()))
employees = pandas.Series(list(data_dict.keys()))

# set the index of df to be the employees series:
df.set_index(employees, inplace=True)

# You will have code here to add columns, i.e. new features,
# to the df, or remove rows, i.e. employees, from the df
df_finance = df[finance_features]
df_email = df[email_features]
df.fillna(0, inplace=True)
#df['to_msg_ratio'] = float(df['from_this_person_to_poi']) / df['to_messages']


# after you create features, the column names will be your new features
# create a list of column names:
new_features_list = df.columns.values


# create a dictionary from the dataframe
df_dict = df.to_dict('index')

# compare the original dictionary 
# with the dictionary reconstructed from the dataframe:  
print df_dict == data_dict

True

In [3]:
df_email.fillna(0, inplace = True)

df_email

/Users/bean/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

,poi,to_messages,email_address,from_poi_to_this_person,from_messages,from_this_person_to_poi,shared_receipt_with_poi
METTS MARK,False,807,mark.metts@enron.com,38,29,1,702
BAXTER JOHN C,False,NaN,NaN,NaN,NaN,NaN,NaN
ELLIOTT STEVEN,False,NaN,steven.elliott@enron.com,NaN,NaN,NaN,NaN
CORDES WILLIAM R,False,764,bill.cordes@enron.com,10,12,0,58
HANNON KEVIN P,True,1045,kevin.hannon@enron.com,32,32,21,1035
MORDAUNT KRISTINA M,False,NaN,kristina.mordaunt@enron.com,NaN,NaN,NaN,NaN
MEYER ROCKFORD G,False,232,rockford.meyer@enron.com,0,28,0,22
MCMAHON JEFFREY,False,2355,jeffrey.mcmahon@enron.com,58,48,26,2228
HORTON STANLEY C,False,2350,stanley.horton@enron.com,44,1073,15,1074
PIPER GREGORY F,False,1238,greg.piper@enron.com,61,222,48,742
HUMPHREY GENE E,False,128,gene.humphrey@enron.com,10,17,17,119
UMANOFF ADAM S,False,111,adam.umanoff@enron.com,12,18,0,41
BLACHMAN JEREMY M,False,2475,jeremy.blachman@enron.com,25,14,2,2326
SUNDE MARTIN,False,2647,marty.sunde@enron.com,37,38,13,2565
GIBBS DANA R,False,169,dana.gibbs@enron.com,0,12,0,23
LOWRY CHARLES P,False,NaN,NaN,NaN,NaN,NaN,NaN
COLWELL WESLEY,True,1758,wes.colwell@enron.com,240,40,11,1132
MULLER MARK S,False,136,s..muller@enron.com,12,16,0,114
JACKSON CHARLENE R,False,258,charlene.jackson@enron.com,25,56,19,117
WESTFAHL RICHARD K,False,NaN,dick.westfahl@enron.com,NaN,NaN,NaN,NaN
WALTERS GARETH W,False,NaN,NaN,NaN,NaN,NaN,NaN
WALLS JR ROBERT H,False,671,rob.walls@enron.com,17,146,0,215
KITCHEN LOUISE,False,8305,louise.kitchen@enron.com,251,1728,194,3669
CHAN RONNIE,False,NaN,NaN,NaN,NaN,NaN,NaN
BELFER ROBERT,False,NaN,NaN,NaN,NaN,NaN,NaN
SHANKMAN JEFFREY A,False,3221,jeffrey.shankman@enron.com,94,2681,83,1730
WODRASKA JOHN,False,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN
BERGSIEKER RICHARD P,False,383,rick.bergsieker@enron.com,4,59,0,233
URQUHART JOHN A,False,NaN,NaN,NaN,NaN,NaN,NaN
BIBI PHILIPPE A,False,1607,philippe.bibi@enron.com,23,40,8,1336
...,...,...,...,...,...,...,...
REYNOLDS LAWRENCE,False,NaN,NaN,NaN,NaN,NaN,NaN
DIMICHELE RICHARD G,False,NaN,richard.dimichele@enron.com,NaN,NaN,NaN,NaN
BHATNAGAR SANJAY,False,523,sanjay.bhatnagar@enron.com,0,29,1,463
CARTER REBECCA C,False,312,rebecca.carter@enron.com,29,15,7,196
BUCHANAN HAROLD G,False,1088,john.buchanan@enron.com,0,125,0,23
YEAP SOON,False,NaN,NaN,NaN,NaN,NaN,NaN
MURRAY JULIA H,False,2192,julia.murray@enron.com,11,45,2,395
GARLAND C KEVIN,False,209,kevin.garland@enron.com,10,44,27,178
DODSON KEITH,False,176,keith.dodson@enron.com,10,14,3,114
YEAGER F SCOTT,True,NaN,scott.yeager@enron.com,NaN,NaN,NaN,NaN
HIRKO JOSEPH,True,NaN,joe.hirko@enron.com,NaN,NaN,NaN,NaN
DIETRICH JANET R,False,2572,janet.dietrich@enron.com,305,63,14,1902
DERRICK JR. JAMES V,False,2181,james.derrick@enron.com,64,909,20,1401
FREVERT MARK A,False,3275,mark.frevert@enron.com,242,21,6,2979
PAI LOU L,False,NaN,lou.pai@enron.com,NaN,NaN,NaN,NaN
BAY FRANKLIN R,False,NaN,frank.bay@enron.com,NaN,NaN,NaN,NaN
HAYSLETT RODERICK J,False,2649,rod.hayslett@enron.com,35,1061,38,571
FUGH JOHN L,False,NaN,NaN,NaN,NaN,NaN,NaN
FALLON JAMES B,False,1755,jim.fallon@enron.com,42,75,37,1604
KOENIG MARK E,True,2374,mark.koenig@enron.com,53,61,15,2271
SAVAGE FRANK,False,NaN,NaN,NaN,NaN,NaN,NaN
IZZO LAWRENCE L,False,496,larry.izzo@enron.com,28,19,5,437
TILNEY ELIZABETH A,False,460,elizabeth.tilney@enron.com,10,19,11,379
MARTIN AMANDA K,False,1522,a..martin@enron.com,8,230,0,477
BUY RICHARD B,False,3523,rick.buy@enron.com,156,1053,71,2333
GRAMM WENDY L,False,NaN,NaN,NaN,NaN,NaN,NaN
CAUSEY RICHARD A,True,1892,richard.causey@enron.com,58,49,12,1585
TAYLOR MITCHELL S,False,533,mitchell.taylor@enron.com,0,29,0,300
DONAHUE JR JEFFREY M,False,865,jeff.donahue@enron.com,188,22,11,772
GLISAN JR BEN F,True,873,ben.glisan@enron.com,52,16,6,874

In [4]:
# Find how many missing values are in my features list
for feature in features_list:
    print "Number of missing values in " + str(feature) + ": " + \
    str(df[feature].value_counts(dropna=False)[0])

Number of missing values in poi: 128
Number of missing values in to_messages: 60
Number of missing values in from_messages: 60
Number of missing values in from_poi_to_this_person: 12
Number of missing values in from_this_person_to_poi: 20
Number of missing values in bonus: 64
Number of missing values in deferred_income: 97

In [5]:
### Task 2: Remove outliers

# I want to try out classifiers first before removing outliers to see 
# if it would perform any better.

In [6]:
### Task 3: Create new feature(s)
### Store to my_dataset for easy export below.
my_dataset = data_dict

In [7]:
### Extract features and labels from dataset for local testing
data = featureFormat(my_dataset, features_list, sort_keys = True)
labels, features = targetFeatureSplit(data)

In [8]:
### Task 4: Try a varity of classifiers
### Please name your classifier clf for easy export below.
### Note that if you want to do PCA or other multi-stage operations,
### you'll need to use Pipelines. For more info:
### http://scikit-learn.org/stable/modules/pipeline.html

# Provided to give you a starting point. Try a variety of classifiers.
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf = clf.fit(features, labels)

print clf.feature_importances_

[ 0.15996152  0.1131865   0.17134565  0.10300219  0.32593607  0.12656807]

In [9]:
### Task 5: Tune your classifier to achieve better than .3 precision and recall
### using our testing script. Check the tester.py script in the final project
### folder for details on the evaluation method, especially the test_classifier
### function. Because of the small size of the dataset, the script uses
### stratified shuffle split cross validation. For more info:
### http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.StratifiedShuffleSplit.html

# Example starting point. Try investigating other evaluation techniques!
from sklearn.cross_validation import train_test_split
features_train, features_test, labels_train, labels_test = \
    train_test_split(features, labels, test_size=0.3, random_state=42)

### Task 6: Dump your classifier, dataset, and features_list so anyone can
### check your results. You do not need to change anything below, but make sure
### that the version of poi_id.py that you submit can be run on its own and
### generates the necessary .pkl files for validating your results.

dump_classifier_and_data(clf, my_dataset, features_list)